* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #505148;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}


/* ------ navigation ------- */
nav {
  background-color: #135E80;
  vertical-align: middle;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mymark {
  padding: 2.8rem;
}

.mynav li, .mynavDesktop li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
  padding-top: 1.6rem;
  padding-right: 1.8rem;
}

.mynav a, .mynavDesktop a {
  color: #4285a4;
}

.mynav a:hover {
  color: rgba(182, 185, 169, 0.8);
}

.gridContainerStudy {
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 0 2.8rem;
}

.myphoto {
  background-color: #135E80;
}

.myphoto img {
  margin-bottom: -4rem;
}

.hero {
  background-color: #fff;
  margin-top: 3rem;
}

.mystory {
  padding-bottom: 6rem;
}


footer {
  padding: 4.1rem 2rem 5.6rem 2.8rem;
  background: rgba(182, 185, 169, 0.2) url("/img/cydot1.svg") repeat-x top/100%;
}

footer .fab {
  /* color: #dadcd4; */
  color: rgba(182, 185, 169, 0.5);
  font-size: 3.3rem;
  width: 8rem;
}

footer .fab:hover {
  color: #135E80;
}


/* -------  typography  ------- */
h1, h2 {
  font-family: 'Rufina', serif;
  font-weight: 400;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 4.8rem;
}


h1.grey {
  color: #505148;
  padding-bottom: 0rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.8rem;
  letter-spacing: -.03rem;
  margin-bottom: 0;
  margin-top: 1.8rem;
}

h3 {
  font-size: 2rem;
  line-height: 3.3rem;
  font-weight: 300;
}

h3 span {
  color: #DFD24E;
  font-weight: 300;
}

h4 {
  font-size: 1.6rem;
}

p, li {
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
}

.boldIt {
  font-weight: 600;
}

.sidebarTitle, .smallCaps {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.underline-yellow {
  border-bottom: 0.3rem solid #DFD24E;
}

.underline-white {
  border-bottom: 0.3rem solid #fff;
}


/* ------- grid structure ABOUT ------- */

.whatIDid {
  background-color: rgba(182, 185, 169, 0.6);
  padding: 3rem 0 4rem 0;
}


/* ------- add color to text ------- */
.orange {
  color: #DF7D2E;
}

.credit {
  color: rgb(182, 185, 169);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: right;
}


/* make li read as inline list with commas */

ul.sidebarList {
  list-style: none;
}

ul.inLineList li {
  display: inline;
}

ul.inLineList li.sidebarTitle::after {
  content: ": ";
}

ul.inLineList li::after {
  content: ", ";
}

ul.inLineList li:last-child::after {
  content: "";
}

.spaceAfter {
  padding-bottom: 2rem;
}



/* -------  links ------- */

.projectLink a {
  color: #DF7D2E;
}

a {
  text-decoration: none;
}

a:hover {
  color: #135E80;
}


footer p a {
  color: #505148;
  border-bottom: 0.05rem solid #505148;
}

footer p {
  margin-bottom: 3rem;
}


/* ----  appearance  ---- */

a.button {
  border: 0.1rem solid #505148;
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: inherit;
  color: #505148;
  margin-bottom: 5rem;
}

a.button:hover {
  background-color: #c5b725;
  border: 0.1rem solid #DFD24E;
  color: #fff;
}

.centerIt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hideMobile {
  display: none;
}




@media screen and (min-width: 768px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .gridContainerStudy {
    background-color: #fff;
    margin: 1% auto;
    overflow: hidden;
  }

  section, .studyBlock, .whatIDid  {
    padding-left: 15%;
    padding-right: 15%;
  }

}







@media screen and (min-width: 1224px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .gridContainerStudy {
    display: grid;
    background-color: #fff;
    grid-template-columns: minmax(3.10457516%, auto) repeat(12, [row] 77px) minmax(3.10457516%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }


  nav {
    background-color: #fff;
    grid-column: 1 / 15;
    grid-row: 1;
  }

  .projectNav {
    padding-right: 20rem;
  }

  .mymark a {
    margin-left: 3rem;
  }

  .myname {
    color: rgba(80, 81, 72, 0.8);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 4rem 4rem;
  }

  .myname div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }


  .mynavDesktop {
    display: grid;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 600;
  }


  section {
    padding: 0;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2rem;
  }

  .myphoto {
    background-color: #fff;
    grid-column: 11 / 14;
    grid-row: 1;
    padding-top: 12rem;
    margin-bottom: 0;
  }

  .hero {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 20rem;
  }

  .mystory {
    grid-column: 5 / 11;
    grid-row: 2;
    padding-bottom: 8rem;
  }

  .buttonDesktop {
    display: grid;
    grid-column: 12 / 14;
    grid-row: 2;
  }

  .whatIDid {
    grid-column: 12 / 14;
    grid-row: 2;
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 0 0 0;
  }

  ul.sidebarList {
    list-style: none;
    font-size: 1.3rem;
    padding: 0 3rem 0 0;
    margin: 0 0 2rem 0;
  }

  ul.sidebarList li {
    display: block;
    line-height: 2.1rem;
  }

  ul.sidebarList li.sidebarTitle::after {
    content: none;
  }

  ul.sidebarList li::after {
    content: none;
  }

  .sidebarTitle {
    font-weight: 600;
  }

  .whatIDid li {
    margin-bottom: 1rem;
  }

  footer {
    background-size: 50%;
    grid-column: 1 / 15;
    grid-row: 3;
    padding: 4rem 11rem;
  }

  .hideDesktop {
    display: none;
  }

}


/* ---- media query desktop  ---- */

@media screen and (min-width: 1440px) {

  .gridContainerStudy {
    display: grid;
    grid-template-columns: minmax(8.888888%, auto) repeat(12, [row] 77px) minmax(8.888888%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden; 
    max-width: 98%;
  }

}






/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/
