* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #505148;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}


/* -------- navigation -------- */

nav {
  background-color: #cad4c5;
  vertical-align: middle;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mymark {
  padding: 2.8rem;
}

.mynav li, .mynavDesktop li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
  padding-top: 1.6rem;
  padding-left: 1.8rem;
}

.mynav a, .mynavDesktop a, .myname a {
  color: #505148;
}

.mynav a:hover {
  color: rgba(182, 185, 169, 0.8);
}


.gridContainerStudy {
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 2.8rem;
}

.hero {
  background-color: #cad4c5;
}

.roadblock, .roadblock3, .symscreen01b, .symscreen03b {
  background-color: #1F6BA6;
  color: #fff;
}

.symscreen01b {
  background: url("/img/sym/SymPath_set01.jpg") top -4rem center/1200px no-repeat, #1F6BA6;
  background-blend-mode: multiply;
}

.radius img {
  border-radius: 40px;
}

.roadblock2, .symscreen02b {
  background-color: #CAD4C5;
}

.symscreen02b {
  background: url("/img/sym/SymPath_d01.jpg") top 6rem center/1200px no-repeat, #CAD4C5;
  background-blend-mode: multiply;
}

.symscreen03b {
  background: url("/img/sym/SymPath_onb01.jpg") top 6rem center/1200px no-repeat, #1F6BA6;
  background-blend-mode: multiply;
}



 .flip {
   transform: rotate(-90deg);
   margin-left: 30rem;
   /* padding-top: 8rem; */
 }

 .bleedOff {
   margin-bottom: -20rem;
 }

.artifactsProgression1 {
  color: #fff;
  background-color: #1F6BA6;
}

footer {
  background: rgba(182, 185, 169, 0.2) url("/img/cydot1.svg") repeat-x top/100%;
  padding: 4.1rem 2rem 5.6rem 2.8rem;
}

footer .fab {
  color: rgba(182, 185, 169, 0.5);
  font-size: 3.3rem;
  width: 8rem;
}

footer .fab:hover {
  color: #135E80;
}



/* ----  grid structure  ---- */


.introStudy {
  padding-bottom: 1rem;
  background-color: #cad4c5;
}

.introStudy p {
  padding-bottom: 2rem;
}


.featureImg {
  background: #cad4c5 url("/img/cydot1.svg") repeat-x bottom/100%;
  background-blend-mode: multiply;
}

.featureImg img {
  width: 32%;
  padding-left: 2rem;
}

.dotbackground {
  background: url("/img/cydots.svg") ;
  background-size: contain;
  margin: 2rem 0;
}



/* ----  grid structure  caseStudy  ---- */

.studyBlock {
  padding: 1rem 2.8rem 2rem 2.8rem;
}

.studyBlock1 {
  padding: 3rem 2.8rem 1rem 2.8rem;
}


.overlayImg {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    background: center no-repeat url("/img/cydot1.svg");
  }



.artifactLinks {
  display: flex;
  padding-top: 0;
}

.artifactLinks p {
  padding-right: 1rem;
}



.whatIDid, .sidebar1, .sidebar2, .sidebar3, .sidebar4 {
  background-color: rgba(182, 185, 169, 0.2);
  /* background-blend-mode: multiply; */
  z-index: 50;
}

.whatIDid ul {
  padding-left: 0;
}


.artifactsCollage {
  background-blend-mode: screen;
  border-left: 1.4rem solid #df7d2e;
  background: rgba(202, 212, 197, 0.7) url("/img/sym/pathfork.jpg") bottom center no-repeat;
}

.artifactsProgression1, .artifactsProgression2, .artifactsProgression3 {
  margin-bottom: 2.5rem;
}

.artifactsProgression2 p {
  margin-bottom: 4rem;
}

.artifactsProgression3 p {
  margin-bottom: 4rem;
}

.artifactsProgression1 {
   display: none;
}



/* -------  typography  ------- */


h1 {
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: #505148;
  font-size: 3.5rem;
  line-height: 4.8rem;
  margin-bottom: -4rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.8rem;
  letter-spacing: -.03rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.6rem;
}

h3 span {
  color: #df7d2e;
  font-weight: 300;
}

h4 {
  font-size: 2rem;
  line-height: 2.6rem;
}

p, li {
  line-height: 2.6rem;
  margin-bottom: 1.4rem;
}


.quote {
  font-family: 'Rufina', serif;
  font-size: 2.2rem;
  line-height: 3.5rem;
  padding: 3rem;
}

.shading {
  background: rgba(255, 255, 255, 0.7);
}


.boldIt {
  font-weight: 600;
}


.sidebarTitle, .smallCaps {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}


.underline-yellow {
  border-bottom: 0.3rem solid #DFD24E;
}

.underline-orange {
  border-bottom: 0.3rem solid #DF7D2E;
}

/* ------- add color to text ------- */
.orange {
  color: #DF7D2E;
}

.callout p {
  font-weight: 600;
  color: #DF7D2E;
  padding-bottom: 0.8rem;
}

.credit {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding-top: 2rem;
  color: rgb(182, 185, 169);
}


/* -------  caseStudy specific  ------- */

/* make li read as inline list with commas */

ul.sidebarList {
  list-style: none;
}

ul.sidebarList li {
  display: inline;
}

ul.sidebarList li.sidebarTitle::after {
  content: ": ";
}

ul.sidebarList li::after {
  content: ", ";
}

ul.sidebarList li:last-child::after {
  content: "";
}

.numbering {
  display: none;
}

/* -------  links ------- */

.projectLink a {
  color: #DF7D2E;
}

a {
  text-decoration: none;
}

a:hover {
  color: #135E80;
}

a:visited {
  color: DF7D2E;
}

footer p a {
  color: #505148;
  border-bottom: 0.05rem solid #505148;
}

footer p {
  margin-bottom: 3rem;
}


/* ----  appearance  ---- */

img {
  max-width: 100%;
}

.roadblock3show img, .roadblock2show img, .roadblock1show img {
  border-radius: 40px;
}


.personas {
  background: rgba(182, 185, 169, 0.3);
}

.personas img {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.personas h4 {
  text-align: center;
}


a.button {
  border: 0.05rem solid #fff;
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: inherit;
  color: #505148;
}

a.button2 {
  border: 0.05rem solid #505148;
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: inherit;
  color: #505148;
  margin-top: 2rem;
}

a.button:hover {
  background-color: #135e80;
  border: 0.05rem solid #135e80;
  color: #fff;
}

a.button2:hover {
  background-color: rgba(182, 185, 169, 0.2);
  border: 0.05rem solid #fff;
}

.centerIt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlap {
  background: url("/img/mindmap.svg") no-repeat 0% 0%;
  background-size: contain;
  padding-top: 30rem;
  margin-top: -6rem;
}

.indent {
  padding-top: 2rem;
}


.hideMobile {
  display: none;
}





/* ---- media query tablet  ---- */

@media screen and (min-width: 768px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .hideTablet {
    display: none;
  }

  .gridContainerStudy {
    background-color: #fff;
    margin: 1% auto;
    overflow: hidden;
  }

  section, .studyBlock, .whatIDid  {
    padding-left: 15%;
    padding-right: 15%;
  }

  .introStudy {
    background: #cad4c5 url("") ;
  }

  .introStudy p:first-child:first-letter {
    float: left;
    font-size: 6rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-right: 0.5rem;
  }


.personas  {
  display: flex;
  align-content: space-around;
}

.personas div {
  padding: 1rem 3rem;
  border-left: 1px solid white;
}

  .personas img {
    width: 35%;
    margin: 1rem;
  }

  .personas h4 {
    text-align: left;
  }


  .quote {
    padding-left: 13%;
    padding-right: 15%;
  }


  .studyBlock4 {
    padding-bottom: 7rem;
  }


  .sidebar4 {
    padding-bottom: 8rem;
  }

  .symscreen01b img {
    display: flex;
    justify-content: space-around;
  }


  .extrame {
    display: flex;
    justify-content: space-between;
  }


  .credit {
    text-align: right;
    padding-top: 0;
  }


}





/* ---- media query laptop  ---- */

@media screen and (min-width: 1224px) {

  .gridContainerStudy {
    display: grid;
    background-color: #cad4c5;
    grid-template-columns: minmax(3.10457516%, auto) repeat(12, [row] 77px) minmax(3.10457516%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }


  nav {
    grid-column: 1 / 15;
    grid-row: 1;
  }

  .projectNav {
    padding-right: 20rem;
  }

  .mymark a {
    margin-left: 3rem;
  }

  .myname {
    color: rgba(80, 81, 72, 0.8);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 18;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 4rem 4rem 0 4rem;
    position: fixed;
    z-index: 150;
  }

  .myname div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }


    .myname p {
    margin-bottom: 4rem;
  }


  .mynavDesktop {
    display: grid;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 110;
  }


  section {
    padding: 0;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }


  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2rem;
  }

  .studyBlock p {
    padding-left: 15%;
  }


  .studyBlock ol {
    padding-left: 20%;
  }

  .hero {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 20rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .introStudy {
    grid-column: 5 / 12;
    grid-row: 2 / 2;
    font-size: 1.7rem;
    padding: 0 3rem 8rem 0;
  }

  .introStudy p {
    line-height: 3rem;
  }


  .whatIDid {
    grid-column: 12 / 14;
    grid-row: 1 / 4;
    background-color: inherit;
    padding-top: 30rem;
  }

    /* stop li reading as inline list with commas */

    ul.sidebarList {
      list-style: none;
      font-size: 1.3rem;
      padding: 0;
      margin: 0 0 2rem 0;
    }

    ul.sidebarList li {
      display: block;
      line-height: 2.1rem;
    }

    ul.sidebarList li.sidebarTitle::after {
      content: none;
    }

    ul.sidebarList li::after {
      content: none;
    }

    .sidebarTitle {
      font-weight: 600;
    }

    .whatIDid li {
      margin-bottom: 0;
    }

    .heroCollage {
      display: grid;
      grid-column: 6 / 10;
      grid-row: 3 / 5;
      margin-top: -6rem;
      z-index: 30;
      filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
    }

    .heroCollage2 {
      display: grid;
      grid-column: 3 / 7;
      grid-row: 3 / 5;
      margin-left: 4rem;
      margin-top: -3rem;
      z-index: 40;
    }

    .buttonDesktop {
      display: flex;
      grid-column: 10 / 13;
      grid-row: 4;
      align-items: flex-end;
      /* padding: 0 0 8rem 0rem; */
      z-index: 100;
    }

    .heroCollage3 {
      display: grid;
      grid-column: 9 / 12;
      grid-row: 3 / 5;
      filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
    }


    .wrapWhite {
      display: grid;
      grid-column: 1 / 15;
      grid-row: 4 / 25;
      background-color: #fff;
    }

    .studyBlock, .studyBlock1, .studyBlock2, studyBlock2b, .studyBlock3, .studyBlock4 {
      padding: 0;
    }

    .studyBlock1 {
      grid-column: 4 / 11;
      grid-row: 5;
      padding-top: 3rem;
    }

    .studyBlock2 {
      grid-column: 4 / 11;
      grid-row: 6;
      padding-bottom: 6rem;
      /* padding-bottom: 4rem; */
    }

  .overlayImg {
      justify-content: center;
      padding-left: 13%;
    }




    .artifactLinks {
      flex-direction: column;
      grid-column: 11 / 14;
      grid-row: 6;
      align-self: flex-end;
      background-color: rgba(202, 212, 197, 0.6);
      padding-top: 1rem;
      padding-bottom: 5rem;
      z-index: 120;
      border-right: 1rem solid #df7d2e;
    }

  .artifactLinks div {
  }

    .artifactLinks p {
      line-height: 0.3rem;
      padding-left: 1.5rem;
    }

    .sidebar1 {
      grid-column: 11 / 14;
      grid-row: 6;
      padding: 3rem 1.5rem;
      margin-bottom: 90rem;
    }

    .callout {
      padding: 1rem 0;
    }


    .personas {
      display: flex;
      grid-column: 4 / 14;
      grid-row: 7;
      background-color: rgba(255, 255, 255, 0);
    }

    .personas img {
      width: 35%;
      margin: 0;
    }


    .personas h4 {
      text-align: left;
    }

    .personas .casualUser {
      display: inline;
      padding: 5rem 0 0 10rem;
      border-left: 0;
    }

    .personas .chronicUser {
      display: inline;
      padding: 5rem 20rem 6rem 5rem;
      margin-left: 4rem;
      background-color: rgba(202, 212, 197, 0.4);
      border-right: 1rem solid #df7d2e;
      border-left: 0;
    }


    .userquote .quote {
      padding: 0 28% 0 2rem;
    }

    .userquote2 {
      display: grid;
      grid-column: 8 / 14;
      grid-row: 8 / 9;
      border-right: 1rem solid #df7d2e;
      margin-left: 3.4rem;
      background-image: linear-gradient(
      to bottom,
      rgba(202, 212, 197, 1), rgba(202, 212, 197, 0.6));
      z-index: 60;
    }

    .userquote2 p {
      padding-left: 5rem;
    }

    .userquote {
      display: grid;
      grid-column: 4 / 9;
      grid-row: 8;
      margin-left: 6rem;
      margin-right: 4rem;
      height: 30rem;
      padding-left: 1.8rem;
      background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      padding-top: 4rem;
      z-index: 60;
    }




    .artifactsCollage {
      grid-column: 1 / 15;
      grid-row: 8;
      height: 30rem;
      background-color: rgba(202, 212, 197, 0.8);
      background-size: 100%;
      border-left: 0;
    }



  .studyBlock2b {
    grid-column: 4 / 11;
    grid-row: 11;
    padding-bottom: 4rem;
    padding-top: 3rem;
  }


    .artifactsProgression1 {
      display: flex;
      color: #fff;
      grid-column: 1 / 15;
      grid-row: 12;
      padding: 4rem 0 0 15rem;
      background: #1F6BA6 url("/img/sym/sketchSCREENS.svg") bottom -26rem left 3rem/1000px no-repeat;
      background-blend-mode: multiply;
    }

    .symscreen01 {
      display: flex;
      grid-column: 2 / 6;
      grid-row: 11 / 14;
      margin-top: 38rem;
      padding-left: 4rem;
      z-index: 30;
      color: white;
      background-color: rgba(255, 255, 255, 0);
    }


    .symscreen01 img {
      filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
    }


    .roadblock {
      color: #fff;
      grid-column: 5 / 10;
      grid-row: 12;
      z-index: 10;
      padding-top: 3rem;
      background-color: rgba(255, 255, 255, 0);
    }

  .roadblock1show {
    display: grid;
    padding-top: 6rem;
    padding-bottom: 8rem;
    grid-column: 11 / 14;
    grid-row: 12;
  }


  .artifactsProgression1 .bleedOff {
    margin-bottom: -30rem;
  }


  .roadblock2 {
    grid-column: 5 / 10;
    grid-row: 13;
    z-index: 10;
    padding-top: 6rem;
    background-color: rgba(255, 255, 255, 0);
  }

  .roadblock2 h4, .roadblock3 h4 {
    padding: 0;
    margin: 0;
  }


    .artifactsProgression2 {
      display: inline;
      grid-column: 1 / 15;
      grid-row: 13;
      padding: 30rem 0 10rem 10rem;
      background:  url("/img/sym/SymPath_d01.jpg") bottom 6rem left -4rem/1200px no-repeat, #CAD4C5;
      background-blend-mode: multiply;
    }

    .roadblock2show {
      display: grid;
      padding-top: 10rem;
      padding-bottom: 28rem;
      grid-column: 11 / 14;
      grid-row: 13;
    }

    .artifactsProgression1 div,  .artifactsProgression3 div {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 2rem;
    }


    .roadblock3 {
      color: #fff;
      grid-column: 5 / 10;
      grid-row: 14;
      z-index: 10;
      padding-top: 55rem;
      background-color: rgba(255, 255, 255, 0);
    }


    .artifactsProgression3 {
      display: flex;
      grid-column: 1 / 15;
      grid-row: 14;
      color: #fff;
      padding: 6rem 0 38rem 0;
      margin-left: -8rem;
      background: #1F6BA6;
    }


    .roadblock3show {
      display: grid;
      padding-top: 17rem;
      padding-bottom: 6rem;
      grid-column: 11 / 14;
      grid-row: 14;
    }

    .desktopSidebar div, .sidebar3 div, .sidebar4 div {
      width: 250px;
    }


    .showSketches {
      display: grid;
      grid-column: 11 / 15;
      grid-row: 9 / 12;
      background: top 20rem left 118px  / 130px no-repeat url("/img/sym/3buttons.svg"), right 70px / 250px repeat-y url("/img/sym/fingerprints.svg"); */
    }


    .studyBlock3 {
      grid-column: 4 / 11;
      grid-row: 9;
      padding-top: 3rem;
    }

    .styleguide {
      grid-column: 2 / 5;
      grid-row: 9 / 11;
      padding-top: 70rem;
      padding-left: 5rem;
    }

  .indent {
    padding-left: 10rem;
  }

    .callout3 {
      grid-column: 5 / 11;
      grid-row: 10;
    }

    .sidebar4 {
      grid-column: 11 / 15;
      grid-row: 17;
      padding: 11rem 1.5rem;
    }

    .showTheWork {
      display: grid;
      grid-column: 2 / 11;
      grid-row: 17;
    }

    .moveUp {
      margin-top: -7rem;
    }

    .topLayer {
      z-index: 120;
    }

    .numberingOrange  {
      color: #DF7D2E;
      font-size: 6rem;
      text-align: right;
      z-index: 80;
    }

    .showScreens {
      grid-column: 1 / 15;
      grid-row: 18;
    }

    .viewIt {
      grid-column: 1 / 15;
      grid-row: 19;
    }

  
    .dotbackground {
      background-repeat: repeat;
      background-size: 24%;
    }

    .featureImgSketch {
      display: grid;
      padding-top: 8rem;
      width: 100px;
    }

    .studyBlock4 {
      grid-column: 4 / 11;
      grid-row: 20;
      padding: 3rem 0 7rem 0;
    }


    footer {
      background-size: 50%;
      grid-column: 1 / 15;
      grid-row: 21;
      padding: 4rem 11rem;
    }

    .hideDesktop {
      display: none;
    }

    .hideMobile {
      display: grid;
    }

  }


/* ---- media query desktop  ---- */

@media screen and (min-width: 1440px) {

  .gridContainerStudy {
    display: grid;
    background-color: #cad4c5;
    grid-template-columns: minmax(8.888888%, auto) repeat(12, [row] 77px) minmax(8.888888%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }

}




/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/
