* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #505148;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}




/* -------- navigation -------- */

nav {
  background-color: #135E8B;
  vertical-align: middle;
}

nav div {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}


.mymark {
  padding: 2.8rem;
}

.mynav li, .mynavDesktop li, .mynavDesktop div button, .mynavDesktop div a, .mynav div button, .mynav div a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
  padding-top: 1.8rem;
  padding-left: 1.8rem;
}

.mynav div button, .mynavDesktop div button {
    padding-right: 1.8rem;
    padding-bottom: 1.8rem;
}

.mynav button, .mynavDesktop button {
    border:0;
    color:#000000;
}


.mynav a, .mynavDesktop a, .myname a {
  /* color: rgba(80, 81, 72, 0.5); */
    color: #fff;
}

.mynav a:hover, .mynavDesktop a:hover {
  color: #b9bdaa;
}

/* Dropdown Button  ----- update nav Dec 2025*/


/* The container <div> - needed to position the dropdown content */
.mynav .dropdown, .mynavDesktop .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.mynav .dropdown-content, .mynavDesktop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mynav .dropdown-content a, .mynavDesktop .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #b9bdaa;
    color: white;
    }
    
     /* Dropdown Button  ----- end update nav Dec 2025*/





.gridContainerStudy {
  margin: 0 auto;s
  width: 100%;
}

section {
  padding: 2.8rem;
}

.hero {
  background-color: #135E8B;
}


footer {
  background: rgba(182, 185, 169, 0.2) url("/img/cydot1.svg") repeat-x top/100%;
  padding: 4.1rem 2rem 5.6rem 2.8rem;
}

footer .fab {
  color: rgba(182, 185, 169, 0.5);
  font-size: 3.3rem;
  width: 8rem;
}

footer .fab:hover {
  color: #135E80;
}



/* ----  grid structure  ---- */


.introStudy {
  padding-bottom: 1rem;
  background-color: #135E8B;
}

.introStudy p {
  padding-bottom: 2rem;
}


.featureImg {
  padding-bottom: 0;
  background: #135E8B url("/img/cydot1.svg") repeat-x bottom/100%;
  background-blend-mode: multiply;
}


.dotbackground {
  background: url("/img/cydots.svg") ;
  background-size: contain;
  margin: 2rem 0;
}



/* ----  grid structure  caseStudy  ---- */

.studyBlock {
  padding: 1rem 2.8rem 2rem 2.8rem;
}

.studyBlock1 {
  padding: 3rem 2.8rem 1rem 2.8rem;
}

.studyBlock2 {
  padding-bottom: 4rem;
}

.whatIDid, .sidebar1, .sidebar2, .sidebar3, .sidebar4 {
  /* background-color: rgba(182, 185, 169, 0.2); */
  background-color: #092a3e;
  background-blend-mode: multiply;
  z-index: 50;
}

.whatIDid {
  padding: 2.8rem 0;
}

  .stories-hope-section, .stories-title, .stories-redesign-text, .stories-before, .stories-after, .stories-after-feature, .stories-after-standard {
    background-color: #e8e9e5;
    }




/* -------  typography  ------- */


h1 {
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: #e2e3dd;
  font-size: 3.5rem;
  line-height: 4.8rem;
  margin-bottom: -4rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.8rem;
  letter-spacing: -.03rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h3 span {
  color: #DFD24E;
  font-weight: 300;
}

h4 {
  font-size: 1.6rem;
}

p, li {
  line-height: 2.6rem;
  margin-bottom: 1.4rem;
}


.hero p, .introStudy p, .whatIDid li { color: #e2e3dd; }

.quote {
  font-family: 'Rufina', serif;
  font-size: 2.2rem;
  line-height: 3.5rem;
  padding: 3rem;
}

.shading {
  background: rgba(182, 185, 169, 0.7);
}

.quote::before {
  content: open-quote;
  display: block;
  font-size: 4rem;
}

.boldIt {
  font-weight: 600;
}


.sidebarTitle, .smallCaps {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}


.underline-yellow {
  border-bottom: 0.3rem solid #DFD24E;
}

.underline-white {
  border-bottom: 0.3rem solid #fff;
}

/* ------- add color to text ------- */
.orange {
  color: #b05913;
}

.callout p {
  font-weight: 600;
  color: #092a3e;
  padding-bottom: 0.8rem;
}

.credit {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgb(182, 185, 169);
  padding-top: 1.8rem;
}


/* -------  caseStudy specific  ------- */

/* make li read as inline list with commas */

ul.sidebarList {
  list-style: none;
}

ul.sidebarList li {
  display: inline;
}

ul.sidebarList li.sidebarTitle::after {
  content: ": ";
}

ul.sidebarList li::after {
  content: ", ";
}

ul.sidebarList li:last-child::after {
  content: "";
}

.numbering {
  display: none;
}

/* -------  links ------- */

.projectLink a {
  color: #DF7D2E;
}

a {
  text-decoration: none;
}

a:hover {
  color: #135E80;
}

a:visited {
  color: DF7D2E;
}

footer p a {
  color: #505148;
  border-bottom: 0.05rem solid #505148;
}

footer p {
  margin-bottom: 3rem;
}


/* ----  appearance  ---- */

img {
  max-width: 100%;
}


.hideMobile {
  display: none;
}





/* ---- media query tablet  ---- */

@media screen and (min-width: 768px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .gridContainerStudy {
    background-color: #fff;
    margin: 1% auto;
    overflow: hidden;
  }

  section, .studyBlock, .whatIDid  {
    padding-left: 15%;
    padding-right: 15%;
  }

  .introStudy {
    background: #135E8B url("") ;
  }
    
  .stories-hope-section {
    /* background-color: rgba(182, 185, 169, 0.3); */
      background-color: #e8e9e5;
    }
 

  /* .introStudy p:first-child:first-letter {
    float: left;
    font-size: 6rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-right: 0.5rem;
  } */

  .callout {
    padding-top: 5rem;
  }

  
  .quote {
    padding-left: 13%;
    padding-right: 15%;
  }

  .extrame {
    display: flex;
    justify-content: space-between;
  }

  .credit {
    text-align: right;
    padding-top: 0;
  }


}





/* ---- media query laptop  ---- */

@media screen and (min-width: 1224px) {

  .gridContainerStudy {
    display: grid;
    background-color: #135E8B;
    grid-template-columns: minmax(3.10457516%, auto) repeat(12, [row] 77px) minmax(3.10457516%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }


  nav {
    grid-column: 1 / 15;
    grid-row: 1;
  }

  .projectNav {
    padding-right: 20rem;
  }

  .mymark a {
    margin-left: 3rem;
  }

  .myname {
    color: rgba(80, 81, 72, 0.8);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 8;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 4rem 4rem 0 4rem;
    position: fixed;
  }

  .myname div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .myname p {
    margin-bottom: 4rem;
    /* padding-right: 8rem; */
  }

    
    
     .hideDesktop {
      display: none;
    }

    .hideMobile {
      display: grid;
    }


 .mynavDesktop {
    display: flex;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-top: 4rem;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 600;
  }


  section {
    padding: 0;
  }
    
    .studyBlock1 img, .after-homepage img, .stories-after img, .stories-after-feature img, .stories-after-standard img {
        filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
    }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }


  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

 /* h3 {
    font-size: 2rem;
  } */

  h4 {
    font-size: 2rem;
  }

  /* .studyBlock p {
    padding-left: 15%;
  } */

  .hero {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 20rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .introStudy {
    grid-column: 3 / 10;
    grid-row: 2 / 2;
    font-size: 1.7rem;
    padding: 0 3rem 3rem 0;
  }

  .introStudy p {
    line-height: 3rem;
  }


  .whatIDid {
    grid-column: 12 / 14;
    grid-row: 1 / 4;
    background-color: inherit;
    padding-top: 30rem;
  }

    /* stop li reading as inline list with commas */

    ul.sidebarList {
      list-style: none;
      font-size: 1.3rem;
      padding: 0;
      margin: 0 0 2rem 0;
    }

    ul.sidebarList li {
      display: block;
      line-height: 2.1rem;
    }

    ul.sidebarList li.sidebarTitle::after {
      content: none;
    }

    ul.sidebarList li::after {
      content: none;
    }

    .sidebarTitle {
      font-weight: 600;
    }

    .whatIDid li {
      margin-bottom: 0;
    }

    .heroCollage {
      display: grid;
      grid-column: 3 / 12;
      grid-row: 3;
      margin-top: -2rem;
      z-index: 50;
    }

    .heroCollage2 {
      display: grid;
      grid-column: 6 / 13;
      grid-row: 3;
    }

    /* .buttonDesktop {
      display: flex;
      grid-column: 8 / 11;
      grid-row: 3;
      align-items: flex-end;
      padding: 0 0 8rem 2rem;
      z-index: 300;
    } */

    .heroCollage3 {
      display: grid;
      grid-column: 7 / 14;
      grid-row: 2 / 5;
      margin-top: 30rem;
      z-index: 200;
      /* filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8)); */
    }


    .wrapWhite {
      display: grid;
      grid-column: 1 / 15;
      grid-row: 4 / 20;
      background-color: #fff;
    }

    .studyBlock, .studyBlock1, .studyBlock2, .studyBlock3, .studyBlock4 {
      padding: 0;
    }


    .callout {
      padding: 5rem 0;
    }


    .callout1 {
      /* margin-top: 6rem; */
      grid-column: 3 / 11;
      grid-row: 4;
      /* padding-top: 12rem; */
    }

    .studyBlock1 {
      grid-column: 3 / 6;
      grid-row: 5;
        z-index: 50;
    } 
    
    
    
    .redesign-text {
        margin-top:4rem;
        grid-column: 7 / 11;
        grid-row: 5;
        background-color:rgba(255,255,255,0.8);
        z-index: 45;
        padding:20px;
    }
    
    .redesign-prototype {
        grid-column: 1 / 14;
        grid-row: 5;
        opacity:0.2;
        margin-top: 45rem;
    }
    
    
    .studyBlock1 .redesign-text {
        grid-column: 6 / 12;
      grid-row: 5;
    }

    .after-homepage {
        grid-column: 7 / 14;
        grid-row: 5;
        margin-top:60rem;
        z-index: 60;
  }

     .redesign-after-text {
        grid-column: 3 / 8;
        grid-row: 6;
        background-color:#fff;
        padding:30px;
         margin-top:-50rem;
         z-index: 400;
         filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
         margin-bottom:10rem;
  }
   
    
    .stories-hope-section {
        display: grid;
        grid-column: 1 / 15;        
        grid-row: 7;
    }
    
    .stories-title {
        grid-column: 3 / 11;
        grid-row: 7;
    }
    
    
     .stories-redesign-text {
        margin-top:14rem;
        grid-column: 3 / 8;
        grid-row: 7;
        z-index: 45;
    }
    
    .stories-before {
        grid-column: 10 / 13;
        grid-row: 7;
        margin-top:3rem;
    }
    
     .stories-after {
        grid-column: 3 / 9;
        grid-row: 7;
        margin-top:41rem;
         z-index: 80;
    }
    
    .stories-after-feature {
        grid-column: 10 / 13;
        grid-row: 7;
        margin-top:50rem;
    }
    
      .stories-after-standard {
        grid-column: 8 / 14;
        grid-row: 7;
          padding:1rem;
        margin-top:111rem;
        z-index: 82;
        margin-bottom: 10rem;
    }
    
    .stories-redesign-text-summary {
        margin-top: 130rem;
        grid-column: 3 / 8;
        grid-row: 7;
        z-index: 85;
    }


    .callout2 {
      margin-top: 3rem;
      grid-column: 5 / 11;
      grid-row: 7;
    }

   
     .work-in-progress {
        grid-column: 4 / 10;
        grid-row: 8;
        background-color:#135E8B;
        color:#fff !important;
        padding:30px;
        margin:8rem 0;
    }




    footer {
      /* margin-top:10rem; */
      background-size: 50%;
      grid-column: 1 / 15;
      grid-row: 13;
      padding: 4rem 11rem;
    }

  
  }


/* ---- media query desktop  ---- */

@media screen and (min-width: 1440px) {

  .gridContainerStudy {
    display: grid;
    background-color: #135E8B;
    grid-template-columns: minmax(8.888888%, auto) repeat(12, [row] 77px) minmax(8.888888%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }

}




/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/
