* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #505148;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}


/* -------- navigation -------- */

nav {
  /* background-color: #DFD24E; */
  background-color: #ddd36f;
  vertical-align: middle;
}

nav div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}


.mymark {
  padding: 2.8rem;
}

.mynav li, .mynavDesktop li, .mynavDesktop div button, .mynavDesktop div a, .mynav div button, .mynav div a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
  padding-top: 1.8rem;
  padding-left: 1.8rem;
}
.mynav div button, .mynavDesktop div button {
    padding-right: 1.8rem;
    padding-bottom: 1.8rem;
}

.mynav button, .mynavDesktop button {
    border:0;
    color: #000000;
}


.mynav a, .mynavDesktop a, .myname a {
  /* color: rgba(80, 81, 72, 0.5); */
    color: #505148;
}

.mynav a:hover, .mynavDesktop a:hover {
  color: #135E83;
}


/* Dropdown Button  ----- update nav Dec 2025*/

/* The container <div> - needed to position the dropdown content */
.mynav .dropdown, .mynavDesktop .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.mynav .dropdown-content, .mynavDesktop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mynav .dropdown-content a, .mynavDesktop .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #135E83;
    color: white;
    }
    
/* Dropdown Button  ----- end update nav Dec 2025*/


.gridContainerStudy {
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 2.8rem;
}

.hero {
  /* background-color: #DFD24E; */
  background-color: #ddd36f;
}


footer {
  background: rgba(182, 185, 169, 0.2) url("/img/cydot1.svg") repeat-x top/100%;
  padding: 4.1rem 2rem 5.6rem 2.8rem;
}

footer .fab {
  color: rgba(182, 185, 169, 0.5);
  font-size: 3.3rem;
  width: 8rem;
}

footer .fab:hover {
  color: #135E80;
}



/* ----  grid structure  ---- */


.introStudy {
  padding-bottom: 1rem;
  background-color: #DFD24E;
}

.introStudy p {
  padding-bottom: 2rem;
}


.featureImg {
  padding-bottom: 0;
  background: #DFD24E url("/img/cydot1.svg") repeat-x bottom/100%;
  background-blend-mode: multiply;
}


.dotbackground {
  background: url("/img/cydots.svg") ;
  background-size: contain;
  margin: 2rem 0;
}



/* ----  grid structure  caseStudy  ---- */

.studyBlock {
  padding: 1rem 2.8rem 2rem 2.8rem;
}

.studyBlock1 {
  padding: 3rem 2.8rem 1rem 2.8rem;
}

.studyBlock2 {
  /* padding-bottom: 4rem; */
}

.artifactLinks {
  display: flex;
  padding-top: 0;
}

.artifactLinks p {
  padding-right: 1rem;
}



.whatIDid, .sidebar1, .sidebar2, .sidebar3, .sidebar4 {
  background-color: rgba(182, 185, 169, 0.2);
  /* background-blend-mode: multiply; */
  z-index: 50;
}

.whatIDid ul {
  padding-left: 0;
}


.artifactsCollage {
  background-blend-mode: multiply;
  border-left: 1.4rem solid #DFD24E;
  background: rgba(182, 185, 169, 0.7) url("/img/sketchFW.jpg") no-repeat 0% 100%;
  background-size: 100%;
  background-position: bottom;
}

.artifactsProgression1, .artifactsProgression2, .artifactsProgression3 {
  /* background-color: #DFD24E; */
    background-color: #11313a;
  color: #636458;
  margin-bottom: 2.5rem;
}

.artifactsProgression2 p {
  margin-bottom: 4rem;
}

.artifactsProgression3 p {
  margin-bottom: 4rem;
}

.artifactsProgression1 {
   display: none;
}



/* -------  typography  ------- */


h1 {
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: #505148;;
  font-size: 3.5rem;
  line-height: 4.8rem;
  margin-bottom: -4rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.8rem;
  letter-spacing: -.03rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.6rem;
}

h3 span {
  color: #DFD24E;
  font-weight: 300;
}

h4 {
  font-size: 2rem;
  line-height: 2.6rem;
}

p, li {
  line-height: 2.6rem;
  margin-bottom: 1.4rem;
}


.quote {
  font-family: 'Rufina', serif;
  font-size: 2.2rem;
  line-height: 3.5rem;
  padding: 3rem;
}

.shading {
  background: rgba(182, 185, 169, 0.7);
}

.quote::before {
  content: open-quote;
  display: block;
  font-size: 4rem;
}

.boldIt {
  font-weight: 600;
}


.sidebarTitle, .smallCaps {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}


.underline-yellow {
  border-bottom: 0.3rem solid #DFD24E;
}

.underline-white {
  border-bottom: 0.3rem solid #fff;
}

/* ------- add color to text ------- */
.orange {
  /* color: #DF7D2E; */
  color: #b05913;
}

.callout p {
  font-weight: 600;
  color: #b05913;
  padding-bottom: 0.8rem;
}

.credit {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding-top: 2rem;

  /* text-align: right; */
  color: rgb(182, 185, 169);
}


/* -------  caseStudy specific  ------- */

/* make li read as inline list with commas */

ul.sidebarList {
  list-style: none;
}

ul.sidebarList li {
  display: inline;
}

ul.sidebarList li.sidebarTitle::after {
  content: ": ";
}

ul.sidebarList li::after {
  content: ", ";
}

ul.sidebarList li:last-child::after {
  content: "";
}

.numbering {
  display: none;
}

/* -------  links ------- */

.projectLink a {
  /* color: #DF7D2E; */
  color: #b05913;
}

a {
  text-decoration: none;
}

a:hover {
  color: #135E80;
}

a:visited {
  color: DF7D2E;
}

footer p a {
  color: #505148;
  border-bottom: 0.05rem solid #505148;
}

footer p {
  margin-bottom: 3rem;
}


/* ----  appearance  ---- */

img {
  max-width: 100%;
}


a.button {
  border: 0.05rem solid #fff;
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: inherit;
  color: #505148;
}

a.button2 {
  border: 0.05rem solid #505148;
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: inherit;
  color: #505148;
  margin-top: 2rem;
}

a.button:hover {
  background-color: #c5b725;
  border: 0.05rem solid #DFD24E;
  color: #fff;
}

a.button2:hover {
  background-color: rgba(182, 185, 169, 0.2);
  border: 0.05rem solid #fff;
}

.centerIt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlap {
  background: url("/img/mindmap.svg") no-repeat 0% 0%;
  background-size: contain;
  padding-top: 30rem;
  margin-top: -6rem;
}

figure.top-crop {
  overflow: hidden;
  margin-left: -5rem;
  width: 120%;
  max-width: 905px;
}

figure.top-crop img {
  display: block;
  width: 100%;
  margin:-13.6% 0 2% 0;
}

figure.bottom-side-crop {
  overflow: hidden;
  margin-left: -12.6rem;
  width: 185%;
}

figure.bottom-side-crop img {
  display: block;
  width: 100%;
  margin:0 20% -18% 0;
}

figure.bottom-right-crop {
  overflow: hidden;
  margin-left: -2.8rem;
  width: 125%;
}


.hideMobile {
  display: none;
}





/* ---- media query tablet  ---- */

@media screen and (min-width: 768px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .gridContainerStudy {
    background-color: #fff;
    margin: 1% auto;
    overflow: hidden;
  }

  section, .studyBlock, .whatIDid  {
    padding-left: 15%;
    padding-right: 15%;
  }

  .introStudy {
    /* background: #DFD24E url("") ; */
    background: #ddd36f url("") ;
  }

  .introStudy p:first-child:first-letter {
    float: left;
    font-size: 6rem;
    line-height: 4rem;
    padding-top: 1.1rem;
    padding-right: 0.5rem;
  }

  .featureImg img {
    width: 90%;
  }

  .callout {
    padding-top: 5rem;
  }


  .artifactsCollage {
    background: rgba(182, 185, 169, 0.7) url("/img/sketchFW.jpg") no-repeat 0% 200%;
    background-size: 100%;
    background-position: bottom;
    padding: 0 0 20rem 0;
  }

  .quote {
    padding-left: 13%;
    padding-right: 15%;
  }

  .studyBlock4 {
    padding-bottom: 7rem;
  }


  .sidebar4 {
    padding-bottom: 8rem;
  }

  figure.top-crop, figure.bottom-side-crop, figure.bottom-right-crop {
    margin: 2rem 0 5rem 0;
    width: 100%;
    align-items: center;
  }

  .extrame {
    display: flex;
    justify-content: space-between;
  }


  .credit {
    text-align: right;
    padding-top: 0;
  }

}





/* ---- media query laptop  ---- */

@media screen and (min-width: 1224px) {

  .gridContainerStudy {
    display: grid;
    /* background-color: #DFD24E; */
    background-color: #ddd36f;
    grid-template-columns: minmax(3.10457516%, auto) repeat(12, [row] 77px) minmax(3.10457516%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }


  nav {
    grid-column: 1 / 15;
    grid-row: 1;
  }

  .projectNav {
    padding-right: 20rem;
  }

  .mymark a {
    margin-left: 3rem;
  }

  .myname {
    color: rgba(80, 81, 72, 0.8);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 18;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 4rem 4rem 0 4rem;
    position: fixed;
    z-index: 150;
  }

  .myname div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

    .myname p { margin-bottom: 4rem; }
    
    
       .hideDesktop {
      display: none;
    }

    .hideMobile {
      display: grid;
    }


 .mynavDesktop {
    display: flex;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-top: 4rem;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 600;
  }

  section {
    padding: 0;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }


  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2rem;
  }

  .studyBlock p {
    padding-left: 15%;
  }

  .hero {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 20rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .introStudy {
    grid-column: 5 / 12;
    grid-row: 2 / 2;
    font-size: 1.7rem;
    padding: 0 3rem 8rem 0;
  }

  .introStudy p {
    line-height: 3rem;
  }


  .whatIDid {
    grid-column: 12 / 14;
    grid-row: 1 / 4;
    background-color: inherit;
    padding-top: 30rem;
  }

    /* stop li reading as inline list with commas */

    ul.sidebarList {
      list-style: none;
      font-size: 1.3rem;
      padding: 0;
      margin: 0 0 2rem 0;
    }

    ul.sidebarList li {
      display: block;
      line-height: 2.1rem;
    }

    ul.sidebarList li.sidebarTitle::after {
      content: none;
    }

    ul.sidebarList li::after {
      content: none;
    }

    .sidebarTitle {
      font-weight: 600;
    }

    .whatIDid li {
      margin-bottom: 0;
    }

    .heroCollage {
      display: grid;
      grid-column: 2 / 8;
      grid-row: 3;
      margin-top: -6rem;
      z-index: 40;
    }

    .heroCollage2 {
      display: grid;
      grid-column: 6 / 13;
      grid-row: 3;
    }

    .buttonDesktop {
      display: flex;
      grid-column: 8 / 11;
      grid-row: 3;
      align-items: flex-end;
      padding: 0 0 8rem 0rem;
      z-index: 100;
    }

    .heroCollage3 {
      display: grid;
      grid-column: 11 / 14;
      grid-row: 3 / 5;
      margin-top: 20rem;
      z-index: 90;
      filter: drop-shadow(0 0 0.2rem rgba(182, 185, 169, 0.8));
    }


    .wrapWhite {
      display: grid;
      grid-column: 1 / 15;
      grid-row: 4 / 20;
      background-color: #fff;
    }

    .studyBlock, .studyBlock1, .studyBlock2, .studyBlock3, .studyBlock4 {
      padding: 0;
    }

    .studyBlock1 {
      grid-column: 4 / 11;
      grid-row: 4;
      padding-top: 3rem;
    }

    .studyBlock2 {
      grid-column: 4 / 11;
      grid-row: 5;
    }

    .artifactLinks {
      flex-direction: column;
      grid-column: 11 / 14;
      grid-row: 6;
      align-self: center;
      background-color: rgba(182, 185, 169, 0.2);
      padding-top: 1rem;
      padding-bottom: 1rem;
      z-index: 120;
      /* margin-bottom: 0rem; */
    }

  .artifactLinks div {
    /* padding-left: 25rem; */
  }

    .artifactLinks p {
      line-height: 0.3rem;
      /* text-align: right; */
      padding-left: 1.5rem;
      /* margin-bottom: 0; */
    }

    .sidebar1 {
      grid-column: 11 / 14;
      grid-row: 5 / 7;
      padding: 3rem 1.5rem;
      margin-bottom: 7rem;
    }

    .callout {
      padding: 5rem 0;
    }

    .callout1 {
      grid-column: 5 / 11;
      grid-row: 6;
    }


    .userpersona {
      display: grid;
      grid-column: 1 / 6;
      grid-row: 7;
      margin-left: -4rem;
      z-index: 30;
    }

    .userquote {
      display: grid;
      grid-column: 4 / 14;
      grid-row: 7;
      border-left: 5rem solid #DFD24E;
      height: 20rem;
      margin-left: 2.7rem;
      background: rgba(217, 219, 211, 0.9);
      z-index: 60;
    }

    .userquote .quote {
      padding: 0 28% 0 2rem;
    }


    .artifactsCollage {
      grid-column: 1 / 15;
      grid-row: 7;
      height: 60rem;
      background-color: rgba(182, 185, 169, 0.2);
      background-size: 80%;
      background-position: right bottom;
      border-left: 0;
    }


    .callout2 {
      grid-column: 5 / 11;
      grid-row: 8;
    }

    .artifactsProgression1 {
      display: flex;
      justify-content: flex-end;
      grid-column: 1 / 11;
      grid-row: 9;
      /* background-color: #DFD24E; */
    }

    .artifactsProgression1 .bleedOff {
      margin-bottom: -1.8rem;
    }

    .artifactsProgression2 {
      display: flex;
      justify-content: flex-end;
      grid-column: 1 / 11;
      grid-row: 10;
    }

    .artifactsProgression1 div, .artifactsProgression2 div, .artifactsProgression3 div {
      width: 380px;
      margin-left: 7rem;
      margin-top: 4rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .artifactsProgression1 div.numbering {
      padding-bottom: 2.4rem;
    }

    .artifactsProgression1 div.numbering, .artifactsProgression2 div.numbering, .artifactsProgression3 div.numbering {
      width: 70px;
      margin-left: 20px;
      display: flex;
      font-size: 6rem;
      align-self: flex-end;
      padding-left: 1.5rem;
      color: rgba(255, 255, 255, 0.4);
    }

    .artifactsProgression3 {
      display: flex;
      justify-content: flex-end;
      grid-column: 1 / 11;
      grid-row: 11;
      margin-bottom: 0;
    }


    .desktopSidebar {
      display: block;
      grid-column: 11 / 15;
      grid-row: 9 / 12;
      padding: 8rem 1.5rem;
    }

    .desktopSidebar div, .sidebar3 div, .sidebar4 div {
      width: 250px;
    }

    .sidebar3 {
      display: block;
      grid-column: 11 / 15;
      grid-row: 9 / 12;
      padding: 30rem 1.5rem;
    }

    .sidebar3 p.numbering {
      display: block;
    }

    .showSketches {
      display: grid;
      grid-column: 11 / 15;
      grid-row: 11 / 15;
      background: top left 20px / 400px no-repeat url("/img/mindmap.svg"),
      center left / 500px no-repeat url("/img/fw_iconDev.svg"),
      bottom left 20px / 400px no-repeat url("/img/fw_iconDev2.svg");
      margin-top: 15rem;
      margin-bottom: -10rem;
    }


    .studyBlock3 {
      grid-column: 4 / 11;
      grid-row: 13;
      padding-top: 3rem;
    }

    .styleguide {
      grid-column: 2 / 5;
      grid-row: 13;
      padding-top: 11.6rem;
      margin-left: -9rem;
    }

    .callout3 {
      grid-column: 5 / 11;
      grid-row: 14;
    }

    .sidebar4 {
      grid-column: 11 / 15;
      grid-row: 15;
      padding: 11rem 1.5rem;
    }

    .showTheWork {
      display: grid;
      grid-column: 2 / 11;
      grid-row: 15;
    }

    .moveUp {
      margin-top: -7rem;
    }

    .topLayer {
      z-index: 120;
    }

    .numberingOrange  {
      color: #DF7D2E;
      font-size: 6rem;
      text-align: right;
      z-index: 80;
    }

    .viewIt {
      padding-top: 8rem;
      grid-column: 1 / 15;
      grid-row: 16;
    }

    .dotbackground {
      background-repeat: repeat;
      background-size: 24%;
    }

    .featureImgSketch {
      display: grid;
      padding-top: 8rem;
      width: 550px;
    }

    .studyBlock4 {
      grid-column: 4 / 11;
      grid-row: 17;
      padding: 3rem 0 7rem 0;
    }

    footer {
      background-size: 50%;
      grid-column: 1 / 15;
      grid-row: 18;
      padding: 4rem 11rem;
    }


  }


/* ---- media query desktop  ---- */

@media screen and (min-width: 1440px) {

  .gridContainerStudy {
    display: grid;
    /* background-color: #DFD24E; */
    background-color: #ddd36f;
    grid-template-columns: minmax(8.888888%, auto) repeat(12, [row] 77px) minmax(8.888888%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }

}




/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/

