* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #505148;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}


/* -------- navigation -------- */

nav {
  vertical-align: middle;
}

nav div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}


.mymark {
  padding: 2.8rem;
}


.mynav li, .mynavDesktop li, .mynavDesktop div button, .mynavDesktop div a, .mynav div button, .mynav div a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  list-style-type: none;
  padding-top: 1.8rem;
  padding-left: 1.8rem;
    /* padding:1.8rem; */
}
.mynav div button, .mynavDesktop div button {
    padding-right: 1.8rem;
    padding-bottom: 1.8rem;
}

.mynav button, .mynavDesktop button {
    border:0;
}


.mynav a, .mynavDesktop a, .myname a {
  /* color: rgba(80, 81, 72, 0.5); */
    color: #505148;
}

.mynav a:hover, .mynavDesktop a:hover {
  color: #135E83;
}

/* Dropdown Button  ----- update nav Dec 2025*/


/* The container <div> - needed to position the dropdown content */
.mynav .dropdow, .mynavDesktop .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.mynav .dropdown-content, .mynavDesktop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mynav .dropdown-content a, .mynavDesktop .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #135E83;
    color: white;
    }
    
     /* Dropdown Button  ----- end update nav Dec 2025*/


.gridContainer {
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 2rem 2.8rem;
}


.hero {
  padding-bottom: 6rem;
}

.featureImg01b {
  background-color: #135E80;
  margin: 1rem 0 2rem 0;
  display: flex;
  padding: 2rem;
}

.featureImg01b div {
  padding: 1rem;
}


.featureText2 {
  padding-top: 0;
  padding-bottom: 8rem;
}

.featureImg02b  {
    height: 22rem;
  margin: 2rem 0 3rem 0;
  background: #DFD24E url("/img/fw/fw_home.jpg") no-repeat center 3rem / 60%;
}

.featureImg03b  {
    height: 22rem;
  margin: 2rem 0 3rem 0;
    background: rgba(182, 185, 169, 0.3)
    center / cover no-repeat url("https://youngdesign.biz/img/gallery3.jpg");
}


footer {
  padding: 4.1rem 2rem 5.6rem 2.8rem;
  background: rgba(182, 185, 169, 0.2) url("/img/cydot1.svg") repeat-x top/100%;
}

footer .fab {
  color: rgba(182, 185, 169, 0.5);
  font-size: 3.3rem;
  width: 8rem;
}

footer .fab:hover {
  color: #135E80;
}


/* ----  grid structure  ---- */

.featureImg {
  margin-top: 2rem;
}

.decoration {
  display: none;
}

.dots2 {
  grid-area: dots2;
}

.featureText {
  padding-top: 1rem;
  padding-bottom: 8rem;
}

.galleryImg {
  margin-top: 4rem;
}

.galleryText {
  padding-top: 1rem;
  margin-bottom: 5rem;
}


/* -------  typography  ------- */
h1, h2 {
  font-family: 'Rufina', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.8rem;
  margin-top: 0;
  padding-top: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -.03rem;
  margin-bottom: 0;
  margin-top: 1.8rem;
}

h3 {
  font-size: 2rem;
  line-height: 3.3rem;
  font-weight: 300;
}

h3 span {
  color: #DFD24E;
  font-weight: 300;
}

h4 {
  font-size: 1.6rem;
}

p, li {
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
}



.boldIt {
  font-weight: 600;
}

.sidebarTitle, .smallCaps {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.underline-yellow {
  border-bottom: 0.3rem solid #DFD24E;
}

.underline-white {
  border-bottom: 0.3rem solid #fff;
}

/* ------- add color to text ------- */
.orange {
  color: #DF7D2E;
}

.blueText {
  color: #7ba7bb;
}

.credit {
  color: rgb(182, 185, 169);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding-top: 1.8rem;
}



/* -------  links ------- */

.projectLink a {
  color: #b05913;
}

a {
  text-decoration: none;
}

a:hover {
  color: #135E80;
}

footer p a {
  color: #505148;
  border-bottom: 0.05rem solid #505148;
}

footer p {
  margin-bottom: 3rem;
}


/* ----  appearance  ---- */

img {
  max-width: 100%;
}

.hideMobile {
  display: none;
}





/* ---- media query tablet  ---- */
@media screen and (min-width: 768px) {

  body {
    background-color: rgba(182, 185, 169, 1);
  }

  .gridContainer {
    background-color: #fff;
    margin: 1% auto;
    overflow: hidden;
  }


  .hero {
    padding-top: 4rem;
  }

  h1 {
    color: #505148;
    font-size: 5rem;
  }

  .blueText {
    font-size: 2.2rem;
    color: #505148;
  }

  section  {
    padding-left: 15%;
    padding-right: 15%;
  }


  .featureImg img, .galleryImg img  {
    padding: 2rem 15%;
  }

  .featureText, .galleryText {
    padding-top: 0;
    display: block;
  }

  .extrame {
    display: flex;
    justify-content: space-between;
  }

  .credit {
    text-align: right;
    padding-top: 0;
  }

  .showTablet {
    display: grid;
  }

  .hideTablet {
    display: none;
  }


}




/* ---- media query laptop  ---- */

@media screen and (min-width: 1224px) {

  .gridContainer {
    display: grid;
    background-color: #fff;
    grid-template-columns: minmax(3.10457516%, auto) repeat(12, [row] 77px) minmax(3.10457516%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }

  nav {
    background-color: #fff;
    grid-column: 1 / 15;
    grid-row: 1;
  }

  .projectNav {
    padding-right: 20rem;
  }

  .mymark a {
    margin-left: 3rem;
  }


  .myname {
    color: rgba(80, 81, 72, 0.8);
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 4rem 4rem;
    position: fixed;
  }

  .myname div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

 .mynavDesktop {
    display: grid;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 600;
  }
    
       .hideDesktop {
      display: none;
    }

    .hideMobile {
      display: grid;
    }


 .mynavDesktop {
    display: flex;
    grid-column: 10 / 15;
    justify-content: flex-end;
    padding-top: 4rem;
    padding-right: 4rem;
    grid-row: 1;
    z-index: 600;
  }
    
   

  section {
    padding: 0;
  }

  h2 {
    line-height: 3.6rem;
  }

  .hero {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 15rem;
  }

  .featureText {
    grid-column: 10 / 13;
    grid-row: 2;
    padding-top: 10rem;
  }

  .featureBlock {
    grid-column: 3 / 10;
    grid-row: 2;
    height: 41.6rem;
    width: 94%;
    background: #135E80
    bottom right 118px / 180px no-repeat url("/img/sym/SymPath_faces.jpg");
    }

    .featureImg {
      display: grid;
      grid-column: 4 / 8;
      grid-row: 2 / 3;
      z-index: 10;
    }

    .featureImg img {
      width: 85%;
    }

    .featureBlock2 {
      grid-column: 3 / 10;
      grid-row: 3;
      height: 41.6rem;
      width: 94%;
      margin-top: 2rem;
      margin-bottom: 8rem;
      background: #DFD24E
      center 40px / 400px no-repeat url("/img/fw/fw_home.jpg");
      }

  .featureText2 {
    grid-column: 10 / 13;
    grid-row: 3;
    padding-top: 10rem;
  }

  .featureImg2 {
    grid-column: 5 / 8;
    grid-row: 3;
    margin-top: 12rem;
  }

  .featureImg2 img {
    padding-left: 6rem;
  }


  .featureBlock3 {
    grid-column: 3 / 10;
    grid-row: 4;
    height: 27rem;
    width: 94%;
    margin-top: 5rem;
    margin-bottom: 7rem;
    background: rgba(182, 185, 169, 0.3)
    center / cover no-repeat url("https://youngdesign.biz/img/gallery3.jpg");
    }

  .galleryImg {
    grid-column: 2 / 8;
    grid-row: 4;
  }

  .featureBlock3 img {
    width: 70%;
    margin: 3% 15%;
  }
    
   
  .galleryText {
    grid-column: 10 / 14;
    grid-row: 4;
    padding-top: 10rem;
  }


  footer {
    background-size: 50%;
    grid-column: 1 / 15;
    grid-row: 5;
    padding: 4rem 11rem;
  }


}


/* ---- media query desktop  ---- */

@media screen and (min-width: 1440px) {

  .gridContainerStudy {
    display: grid;
    grid-template-columns: minmax(8.888888%, auto) repeat(12, [row] 77px) minmax(8.888888%, auto);
    grid-column-gap: 1.38888%;
    grid-template-rows: repeat(auto, [row] auto);
    margin: 1% auto;
    overflow: hidden;
    max-width: 98%;
  }

}








/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/
