/* from responsive101-c2
 */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: rgba(182, 185, 169, 0.2);
/*   display: grid;   */
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav"
    "intro"
    "featureImg"
    "featureText"
    "galleryImg"
    "galleryText"
    "footer";
  margin: 0 auto;
  width: 100%;
}


/* ----  grid structure  ---- */

nav {
  grid-area: nav;
  background-color: #135E80;

/*   vertical-align: middle;
   */  display: flex;
}

.fullNav {
  display: none;
}

.intro {
  grid-area: intro;
  background-color: #135E80;
}

.featureImg {
  grid-area: featureImg;
}

.dots {
  grid-area: dots;
  display: none;
}

.dots2 {
  grid-area: dots2;
  display: none;
}

.featureText {
  grid-area: featureText;
}

.galleryImg {
  grid-area: galleryImg;
}

.galleryText {
  grid-area: galleryText;
}

footer {
  grid-area: footer;
  padding: 4rem 2.8rem;
  background-color: rgba(182, 185, 169, 0.2);
}

section {
  padding: 3.4rem 2.8rem;
}

/* ---- typography ---- */
/* nav {
  text-transform: uppercase;
  color: #fff;
  align-items: center;
} */



p {
  margin-bottom: 2rem;
}



/* ----  appearance  ---- */


.logo  {
  width: 45.5px;
  display: inline-block;
  margin-left: 2.95rem;
  margin-top: 1.85rem;
/*   vertical-align: top;
 */}


img {
  max-width: 100%;
}




/* ---- media query  ---- */
@media screen and (min-width: 768px) {
  .container {
    background-color: white;
    margin: 0 auto;
    width: 70rem;
  }

  .fullNav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 0 10.8rem;
    background-color: white;
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(5, [row] auto);
    grid-gap: 2rem;
    grid-row-gap: 8rem;


    grid-template-areas:
     "nav"
     "intro"
     "featureText"
     "galleryImg"
     "footer";

    margin: 0 auto;
    overflow: hidden; /* not sure I understand this */
    width: 144rem;
  }

  section {
    padding: 0;
  }


    nav, .intro, h1 {
      background-color: #fff;
    }

    .intro {
      padding: 4.6rem 0 1rem 0;
    }



    nav, footer {
      grid-column: col / span 12;
      grid-row: row;
      }

    .intro {
      grid-column: col 2 / span 12;
      grid-row: row 2;
    }

    .featureText {
      grid-column: col 2 / span 3;
      grid-row: row 3;
    }

    .featureImg {
      grid-column: col 7 / span 7;
      grid-row: row 3;
      max-width: 70%;
    }

    .dots {
      /* grid-area: dots; */
      display: grid;
      grid-column: col 6 / span 7;
      grid-row: row 3;
      z-index: 1;
    }



    .galleryText {
      grid-column: col 8 / span 3;
      grid-row: row 4;
    }

    .galleryImg {
      grid-column: col / span 7;
      grid-row: row 4;
    }

    .dots2 {
      display: grid;
      /* grid-area: dots2; */
      grid-column: col / span 7;
      grid-row: row 4;
    }

    footer {
      grid-column: col / span 12;
      grid-row: row 5;
      }
}




/* colors
blue: #135E80
yellow: #DFD24E
orange: #DF7D2E
grey solid: #505148
grey footer: rgba(182, 185, 169, 0.2)
*/
